extends layouts/main

block content 
  .form-container
    form.upload(action=routes.editProfile, method="post")
      input.title(type="text", placeholder="name", name="name", value=loggedUser.name)
      input.title(type="email", placeholder="Email" name="email", value=loggedUser.email)      
      div.upload__column
        .avatarUpload
          label(for="avatar") <i class="fas fa-folder-open"></i> Open File
          input.upload__profile(type="file", id="avatar", name="avatar", onchange="document.getElementById('file_route').value=this.value")
        input#file_route(type="text", title="File Route", readonly="readonly")
        input.upload__profile(type="submit", value="Update Profile")
      a.form-container__link(href=`/users${routes.changePassword}`)
        .form-container__link-column
          <i class="fas fa-user-lock"></i>
          div.link__changePassword Change Password
          <i class="fas fa-key"></i>
          


    //- http://localhost:4000/users/edit-profile