extends layouts/main

block content 
  .videos
    h1 Video
  
//- pug는 템플릿언어로 express의 view engine이다.
//- <p>태그를 p입력만으로 설정해줄수있다.
//- extends layouts/main.pug는 main.pug를 전체 복사했고 덮어쓸수있다는 의미이다. 
//- block content안에 입력하면 main의 block안에 들어갈 내용들을 추가 할 수있게 된다. 