mixin videoPlayer(video = {})
    .videoPlayer#jsVideoPlayer
      video(src=`/${video.src}`)
      .videoPlayer__controls
        .videoPlayer__column
          span#jsPlayButton
            <i class="fas fa-play"></i>
          span#jsVolumnBtn
            <i class="fas fa-volume-up"></i>
          span
            span#currentTime 00:00:00
            |/
            span#totalTime 00:00:00
        .videoPlayer__column
          span.videoPlayer__setting
            <i class="fas fa-cog"></i>
          span.videoPlayer__expand#jsFullScreen
            <i class="fas fa-expand"></i>
      


//- video(src=`/${video.src}`, autoplay)