.videoPlayer {
  position: relative;
  width: 100%;

  &:hover {
    .videoPlayer__controls {
      opacity: 1;
    }
  }

  video {
    width: 100%;
  }

  .videoPlayer__controls {
    opacity: 0;
    transition: opacity 0.4s linear;
    color: white;
    position: absolute;
    z-index: 9;
    bottom: 5px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 18px;

    .videoPlayer__column:first-child {
      display: flex;
      align-items: center;

      span {
        margin-left: 10px;

        &:first-child {
          margin-right: 10px;
        }

      }

      .videoPlayer__volume {
        width: 20%;

        // position: absolute;
        // padding: 0;
        // opacity: 1;
        // top: -60px;
        // left: 15px;
        // transform: rotate(-90deg);
        // z-index: 10;
        // width: 80px;
        input {
          background-color: rgba(0, 0, 0, 0.7);

          &::-webkit-slider-runnable-track {
            background-color: $grey;
            height: 5px;
          }

          &::-webkit-slider-thumb {
            all: unset;
            background-color: $red;
            height: 15px;
            width: 15px;
            border-radius: 50%;
            position: relative;
            top: -5px;
          }
        }
      }
    }


    .videoPlayer__column:last-child {
      justify-self: end;

      span {
        margin-left: 15px;

        &:last-child {
          margin-right: 10px;
        }
      }
    }

    i {
      font-size: 20px;
      cursor: pointer;

      &:active {
        transform: scale(0.9)
      }
    }

    #currentTime,
    #totalTime {
      font-size: 14px;
    }

    #jsVolumnBtn {
      i {
        font-size: 18px;
      }
    }
  }
}