.form-container {
  .upload {
    p {
      font-size: 0.8rem;
      text-align: start;
      width: 100%;
      margin-top: 20px;
      &:nth-child(1) {
        margin-bottom: 20px;
      }
    }
    .upload__column {
      .updateVideo {
        background-color: $youtube-blue;
        color: $font;
        cursor: pointer;
        padding: 8px 15px;
        font-size: 0.5rem;
        border: none;
        margin-left: 275px;
        font-size: 0.8rem;
      }
      a {
        background-color: $youtube-red;
        color: $font;
        cursor: pointer;
        padding: 10px 15px;
        font-size: 0.5rem;
        border: none;
        font-size: 0.8rem;
      }
    }
  }
}
