// .videos {
//    .videoBlock
//       a
//       videoBlock__thumbnail
//       videoBlock__title,
//       videoBlock__views
// }
.videos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 50px;

  .videoBlock {
    margin: 30px 20px;
    width: 20%;
    height: 15%;

    .videoBlock__thumbnail {
      width: 100%;
      transition-duration: 0.5s;

      &:hover {
        opacity: 0.5;
      }
    }

    .videoBlock__title {
      margin-top: 7px;
      font-size: 1.1rem;
      color: $font;
      text-decoration: none;
      margin-bottom: 5px;
    }

    // &:first-child {

    //   .videoBlock__title {
    //     font-size: 1.5rem;
    //   }

    //   .like__column {
    //     display: flex;

    //     span {
    //       margin-top: 10px;
    //       font-size: 0.9rem;
    //       color: $font;

    //       i {
    //         margin-right: 5px;
    //       }
    //     }
    //   }
    // }

    span {
      opacity: 0.5;
      font-size: 0.8rem;
      margin-top: 10px;
      color: $font;

      i {
        margin-right: 5px;
      }
    }
  }
}