.form-container {
  .upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    .title {
      width: 500px;
      height: 30px;
      border: 1px solid $grey;
      &:first-child {
        margin-bottom: 20px;
      }
      &::placeholder {
        opacity: 0.7;
      }
    }
    .upload__column {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 30px;
      .avatarUpload {
        position: relative;
        border-radius: 2px;
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
        width: 100px;
        height: 30px;
        background-color: $youtube-blue;
        color: $font;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
        i {
          z-index: -99;
        }
        input {
          width: 0;
          height: 0;
          overflow: hidden;
        }
      }
      #file_route {
        vertical-align: middle;
        display: inline-block;
        width: 250px;
        height: 28px;
        line-height: 28px;
        font-size: 11px;
        padding: 0;
        margin: 0;
        border: 1px solid $grey;
      }
      .upload__profile {
        background-color: $youtube-blue;
        color: $font;
        cursor: pointer;
        padding: 8px 15px;
        font-size: 0.5rem;
        border: none;
        margin-left: 43px;
        font-size: 0.8rem;
      }
    }
  }
}

.form-container__link-column {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  background-color: $youtube-red;
  margin-top: 50px;
  border-radius: 2px;
  i {
    color: $font;
    &:first-child {
      margin-right: 20px;
    }
    &:last-child {
      margin-left: 20px;
    }
  }
  .link__changePassword {
    background-color: $youtube-red;
    color: $font;
    cursor: pointer;
    padding: 8px 15px;
    font-size: 0.5rem;
    border: none;
    font-size: 0.8rem;
  }
  &:active {
    transform: scale(0.95);
  }
}
