.user-profile {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  .user-profile__header {
    display: flex;
    flex-direction: column;
    width: 100%;
    img {
      max-width: 405px;
      max-height: 50%;
      border-radius: 4px;
    }
    .header__column {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 20px;
      .profile__column {
        .profile__column--box {
          display: flex;
          h2,
          i {
            font-size: 1.7rem;
            margin-right: 7px;
            margin-left: 2px;
          }
          &:nth-child(2) h2,
          &:nth-child(2) i {
            font-size: 1rem;
            margin-top: 15px;
            margin-left: 6px;
          }
        }
      }
    }
  }

  .user-profile__btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2px;
    a {
      button {
        background-color: $youtube-red;
        color: $font;
        cursor: pointer;
        padding: 6.5px 15px;
        font-size: 0.5rem;
        border: none;
        margin-left: 50px;
        font-size: 0.8rem;
        outline: none;
        &:active {
          transform: scale(0.9);
        }
      }
      a:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}
